/cluster-kube-apiserver-operator
/.openshift-tests-extension/openshift_payload_cluster-kube-apiserver-operator.json
/bin/
.idea/
/_output/
telepresence.log

# Test extension binaries
/cluster-kube-apiserver-operator-tests-ext
/cluster-kube-apiserver-operator-tests-ext.gz
