apiVersion: v1
kind: Secret
metadata:
  name: aggregator-client-signer
  namespace: openshift-kube-apiserver-operator
  annotations:
    "auth.openshift.io/certificate-not-before": {{ .Assets | load "aggregator-signer.crt" | notBefore }}
    "auth.openshift.io/certificate-not-after": {{ .Assets | load "aggregator-signer.crt" | notAfter }}
    "auth.openshift.io/certificate-issuer": {{ .Assets | load "aggregator-signer.crt" | issuer }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .Assets | load "aggregator-signer.crt" | base64 }}
  tls.key: {{ .Assets | load "aggregator-signer.key" | base64 }}
